<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../build/css/app.css">
  <title>NihonStay - Proyect </title>
</head>

<body>
  <header class='header'>
    <div class="container header-content">
      <div class="bar">
        <a href="index.html"> <img class='logo' src="../src/img/nihonLogo.png" alt="Nihongo Logo"></a>

        <nav class='navbar'>
          <a href="aboutus.html">About Us</a>
          <a href="rentals.html">Rentals</a>
          <a href="blog.html">Blog</a>
          <a href="contact.html">Contact</a>
        </nav>
      </div> <!-- Bar -->
    </div>
  </header>

  <main class='container section content-center'>
    <h1>Big House in Kyoto with a Garden</h1>

    <img src="../src/img/highlight1.jpg" alt="">

    <div class="rental-text">
      <p> <span class='prize'>$300</span> /per night</p>
      <ul class='icons-rent'>
        <li>
          <img src='../src/img/icon_wc.svg' alt='wc icon' loading='lazy'>
          <p>2</p>
        </li>
        <li>
          <img src='../src/img/icon_parkinglot.svg' alt='parking lot icon' loading='lazy'>
          <p>2</p>
        </li>
        <li>
          <img src='../src/img/icon_bedroom.svg' alt='bedroom icon' loading='lazy'>
          <p>4</p>
        </li>
      </ul>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas repellat ex maiores! Voluptatibus iusto
        necessitatibus temporibus nulla quibusdam, enim accusantium sed aspernatur, non sapiente officia, ipsam
        dignissimos nisi? Veniam, vero?</p>
    </div>

  </main>


  <footer class='footer section'>
    <div class="container footer-container">
      <nav class='navbar'>
        <a href="aboutus.html">About Us</a>
        <a href="rentals.html">Rentals</a>
        <a href="blog.html">Blog</a>
        <a href="contact.html">Contact</a>
      </nav>
    </div>

    <p class='copyright'>All rights reservers 2023 &copy;</p>
  </footer>

  <script src='../src/js/app.js'></script>
</body>

</html>